@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #2563EB;
  --color-secondary: #f59e0b;
  --color-dark: #000000;
}

body {
  font-family: system-ui, -apple-system, sans-serif;
}
